* {
    margin: 0;
    padding: 0;
}

header nav {
    height: 7vh !important;
    
}
main{
    background-color: bisque;
}
.crouselMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    width: 95vw;
}
.carousel-item img{
    border-radius: 20px;
    width: 95vw;
}
.bootstrepcard{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
}
